.header-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.options {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 20%;
  min-width: 175px !important;
  max-width: 200px;
}

.logo {
  min-width: 275px;
  cursor: pointer;
}
.logo:focus {
  outline: none;
}

header {
  background-image: url('../assets/images/background-angles.png');
  background-size: 100% 70%;
  background-repeat: no-repeat;
}

.header-slope {
  background-color: rgba(66, 94, 94, 0.5);
  clip-path: polygon(
    0 0, // left-top
    100% 0%, // right-top
    100% 100%, // right-bottom
    0 70% // left-bottom
  );
}

