<header>
  <div class="header-slope">
    <section class="header-section">
      <h2 class="mt-2 logo text-white router-link" routerLink="/home">
        <fa-icon [icon]="faBook" size="sm"></fa-icon>
        <span class="ml-3">backlog </span>
        <span>bot</span>
      </h2>
      <h4 class="options">
        <span class="router-link" routerLink="/home" routerLinkActive="active">home</span>
        <span class="router-link" routerLink="/new-book" routerLinkActive="active">new book</span>
      </h4>
    </section>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <span class="text-muted">Footer text here</span>
</footer>
