@font-face {
  font-family: 'Volkhov';
  src: url('Volkhov-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Volkhov';
  src: url('Volkhov-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Volkhov';
  src: url('Volkhov-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Volkhov';
  src: url('Volkhov-Regular.ttf');
}
